@model ApplicationViewModel;

@{
    ViewData["Title"] = "Candid | Create Application";
    String FullName = $"{Model.FirstName} {Model.LastName}";
    String FormattedGender = Utilities.EnumExtensions.GetDisplayName(Model.Gender);
    String FormattedEthnicity = Utilities.EnumExtensions.GetDisplayName(Model.Ethnicity);
    String FormattedGraduationDate = Model.GraduationDate.ToString("MMMM dd, yyyy");
    String FormattedMajors = Model.Majors;
    Decimal GPA = Model.GPA;
    String StudentId = Model.StudentId;
}   

<div class="container">
    <h1>Offer Interview</h1>
    <h3>Student Profile</h3>
    <p>Name: @FullName</p>
    <p>Major(s): @FormattedMajors</p>
    <p>GPA: @GPA</p>
    <p>Ethnicity: @FormattedEthnicity</p>
    <p>Gender: @FormattedGender</p>
    <p>Graduation Date: @FormattedGraduationDate</p>
     @{
        if (ViewBag.SelectList.Count > 0)
        {
            <form asp-action="CreateApplication" asp-controller="Recruiter" method="POST">
        <div class="alert alert-danger" asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Positions" class="control-label"></label>
            @Html.ListBox("Positions", ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Positions" class="text-danger"></span>
        </div>
        <input type="hidden" name="Gender" value="@Model.Gender">
        <input type="hidden" name="Ethnicity" value="@Model.Ethnicity">
        <input type="hidden" name="FirstName" value="@Model.FirstName">
        <input type="hidden" name="LastName" value="@Model.LastName">
        <input type="hidden" name="Majors" value="@Model.Majors">
        <input type="hidden" name="GPA" value="@Model.GPA">
        <input type="hidden" name="GraduationDate" value="@Model.GraduationDate">
        <input type="hidden" name="StudentId" value="@StudentId">
        <button class="btn btn-primary" type="submit">Offer Interivew</button>
    </form>
        }
        else
        {
            <div class="alert alert-danger">There are currently no positions for which you can offer interviews</div>
        }
    }
</div>
