@model IEnumerable<Candid.Models.AppUser>

@{
    ViewData["Title"] = "Candid | Students";
}

<div class="container">
    <form asp-action="Students" asp-controller="Admin" method="GET"> 
        <p class="form-group"> 
            Search: <input name="q" class="form-control"/><br/> 
            <button type="submit" class="btn btn-primary">Search</button> 
            <a asp-action="DetailedStudentSearch" asp-controller="Admin" class="btn btn-success">Detailed Search</a> 
        </p> 
    </form> 
    <a class="btn btn-primary" asp-action="CreateStudent" asp-controller="Admin">Create Student</a>
    <table class="table">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Majors</th>
            <th>GPA</th>
            <th>Address</th>
            <th>Details</th>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    String FirstName = @item.FirstName;
                    String LastName = @item.LastName;
                    String Email = @item.Email;
                    String FormattedMajors = String.Join(", " , item.AppUserMajors.Where(aum => aum.isActive).Select(m => Candid.Utilities.EnumExtensions.GetDisplayName(m.Major.MajorCode)));
                    Decimal GPA = @item.GPA;
                    String FormattedAddress = $"{item.Address.Street} {item.Address.City}, {item.Address.State} {item.Address.PostalCode}";
                    String StudentId = item.Id;
                    {
                        <tr>
                            <td>@FirstName</td>
                            <td>@LastName</td>
                            <td>@Email</td>
                            <td>@FormattedMajors</td>
                            <td>@GPA</td>
                            <td>@FormattedAddress</td>
                            <td>
                                <a asp-action="StudentDetails" asp-controller="Admin" asp-route-id="@StudentId">Details</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
